body {
    font-family: "EB Garamond", serif;
    text-align: center;
    background-color: cornsilk;
    line-height: 2rem;
}
h1 {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 32px;
}
