:root {
    --primary-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Spartan';
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3vh 5vw;
    justify-items: end;
}

header {
    width: 100vw;
    color: var(--primary-color);
}

.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    grid-column: 1 / span 1;
    justify-self: start;
    cursor: pointer;
    font-weight: normal;
}

.logo strong {
    font-weight: bolder;
}

.hidden {
    visibility: hidden;
}

.header_item a {
    grid-column: 2 / span 1;
    font-size: smaller;
}

.header_item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    height: 7.3vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul {
    margin-left: 4vw;
    position: relative;
}

ul li {
    display: inline-block;
    padding: 2.6vh 1vw 2.5vh;
    font-size: small;
}

ul li:hover {
    border-bottom: 0.2rem solid white;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown_menu {
    display: none;
}

.dropdown:hover .dropdown_menu { 
    display: block;
    position: absolute;
    color: var(--primary-color);
    background-color: white;
    min-width: 15vh;
    z-index: 1;
    line-height: 1rem;
    left: -3vw;
    top: 7.3vh;
    z-index: 10;
}

.dropdown:hover .dropdown_menu li a {
    text-decoration: none;
    color: var(--primary-color);
}

.dropdown_menu li {
    padding: 1vh 1vw;
    text-transform: capitalize;
    display: block;
}

.dropdown_menu li:hover {
    border-bottom: 0;
    background-color: rgb(244, 247, 248);
}

#search {
    position: absolute;
    right: 5vh;
}

#search:hover {
    border-bottom: 0;
}

.section a {
    position: relative;
}

.hero_banner {
    background-color: lightblue;
    background: url("//source.unsplash.com/weekly?jobs&people") no-repeat fixed center center /cover;
    color: white;
    text-align: center;
    height: 90vh;
    position: relative;
}

.hero_banner::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.25;
    background-color: var(--primary-color);
    z-index: 2;
}

h1 {
    position: relative;
    text-transform: uppercase;
    padding: 15vh 0 5vh 0;
    font-size: 5rem;
    font-weight: normal;
    z-index: 5;
}

h1 strong {
    font-weight: bolder;
}

h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 10vh 0 4vh 5vw;
}

h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 60vw;
    margin: 0 auto;
    line-height: 2rem;
    padding-bottom: 2vh;
    z-index: 5;
}

h4 {
    text-transform: uppercase;
    font-weight: normal;
}

h4 strong {
    font-weight: bolder;
}

h5 {
    font-weight: bolder;
    font-size: medium;
    padding-top: 3vh;
}

h5:hover {
    cursor: pointer;
    text-decoration: underline;
}

h6 {
    font-size: small;
}

p {
    font-size: large;
    margin: 0 5vw 4vh;
}

button {
    margin-left: 5vw;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-size: medium;
    border-radius: 4px;
}

.explore_category, .explore_region {
    line-height: 2rem;
}

.industries, .location {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin: 10vh 5vw;
}

.industry, .where  {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 15vh 2vw 2vh;
    min-height: 20vh;

    transition: box-shadow 0.1s 0.1s;
}

.industry:hover, .where:hover {
    text-decoration: underline;
    box-shadow: inset 0 0 500px rgba(51, 51, 51, 0.4);
    cursor: pointer;
}

.academic {
    background: url("//source.unsplash.com/weekly?university") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.engineer {
    background: url("//source.unsplash.com/weekly?engineering") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.finance {
    background: url("//source.unsplash.com/weekly?money") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.health {
    background: url("//source.unsplash.com/weekly?health") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.hospitality {
    background: url("//source.unsplash.com/weekly?hotel") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.HR {
    background: url("//source.unsplash.com/weekly?HR") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.ICT {
    background: url("//source.unsplash.com/weekly?computer") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.manufacture {
    background: url("//source.unsplash.com/weekly?factory") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.marketing {
    background: url("//source.unsplash.com/weekly?advertisement") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.turku {
    background: url("//source.unsplash.com/weekly?turku") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.lapland {
    background: url("//source.unsplash.com/weekly?lapland") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.lakeland {
    background: url("//source.unsplash.com/weekly?lake") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.ostrobotnia {
    background: url("//source.unsplash.com/weekly?lapua") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.helsinki {
    background: url("//source.unsplash.com/weekly?helsinki") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.espoo {
    background: url("//source.unsplash.com/weekly?espoo") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.tampere {
    background: url("//source.unsplash.com/weekly?tampere") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.oulu {
    background: url("//source.unsplash.com/weekly?oulu") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.coast {
    background: url("//source.unsplash.com/weekly?Kotka") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.kuopio {
    background: url("//source.unsplash.com/weekly?kuopio") no-repeat center center /cover;
    background-color: var(--primary-color);
}

.jyvaskyla {
    background: url("//source.unsplash.com/weekly?jyväskylä") no-repeat center center /cover;
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    height: 75vh;
    line-height: 1.6rem;
    max-width: 1440px;
    margin: 0 auto;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--primary-color);
    color: white;
    margin: 10vh 5vw;
}

.info {
    min-height: 100px;
    padding-top: 10vh;
}

.left {
    grid-column: 1 / span 1;
}

.center {
    grid-column: 2 / span 1;
}

.right {
    grid-column: 4 / span 1;
}

#heading {
    visibility: hidden;
}

#to_top_btn {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    width: 3rem;
    position: fixed;
    bottom: 8vh;
    right: 5%;
    z-index: 100;
    border: none;
    outline: none;
    color: var(--primary-color);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .hero_banner {
        height: 125vh;
    }

    h3 {
        width: 50vw;
    }

    .industries, .location {
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        height: 100vh;
    }
}

@media only screen and (max-width: 767px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        line-height: normal;
    }

    h3 {
        width: 90vw;
    }

    header .grid_container {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        grid-gap: 1rem;
    }

    .logo {
        font-size: 1rem;
        grid-column: 2 / span 1;
    }

    .hidden {
        visibility: visible;
    }

    .seek {
        align-self: center;
        justify-self: end;
    }

    .header_item a {
        display: none;
    }

    .navigation {
        display: none;
    }

    .hero_banner {
        height: 130vh;
    }

    .industries, .location {
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .industry, .where {
        font-size: 0.8rem;
    }

    footer {
        height: 130vh;
    }

    .bottom {
        display: block;
    }

    #to_top_btn {
        visibility: hidden;
    }
}
